.App{
  background-color: rgba(245,245,245,.3)
}

.search-results-box {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

table {
  max-width: 70%;
}

tr {
  border-top: .1px solid rgba(0, 0, 0, .3);
  display: flex;
  align-items: center;
 
}

td {
  border-bottom-width: 0!important
}

td img {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  width: 100%;
  height: 120px;
  width: 120px;
  border-radius: 8px;
}

a {
  color: blue;
}

.reading-level-box{
  border-radius: 8px;
  border: .1px solid black;
  width: 110%;
  background-color: rgba(53, 186, 226, .15) !important;  
  backdrop-filter: blur(5px) !important;
}

.article-text-cell {
  width: 60% !important;
}

td h3{
  margin-bottom: -2px;
}

small {
  color: red;
}

@media screen and (max-width:480px) {
  td img{
    display: none;
  }
}