.App {
  background-color: rgba(245, 245, 245, 0.3);
}

.search-results-box {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

table {
  max-width: 70%;
}

tr {
  border-top: 0.1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
}

td {
  border-bottom-width: 0 !important;
}

td img {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  width: 100%;
  height: 120px;
  width: 120px;
  border-radius: 8px;
}

.reading-level-box {
  border-radius: 8px;
  border: 0.1px solid black;
  width: 110%;
  background-color: rgba(53, 186, 226, 0.15) !important;
  backdrop-filter: blur(500px) !important;
}

.article-text-cell {
  width: 60% !important;
  margin-left: 20px;
}

td h3 {
  margin-bottom: -2px;
}

td h3:hover {
  cursor: pointer;
  color: rgb(34, 34, 255);
}

small {
  color: red;
}

.article-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
}

article img {
  max-width: 500px;
  max-height: 500px;
  object-fit: cover;
  width: 100%;
}

.title-and-author {
  display: flex;
  flex-direction: row;
  font-style: italic;
  margin-bottom: 1%;
}

.back-button {
  margin-left: 1%;
}

@media screen and (max-width: 480px) {
  td img {
    display: none;
  }
}

.color-nav {
  background-color: aquamarine;
}

.btn-search {
  background-color: aquamarine;
  border-radius: 0 18px 18px 0;
}

.btn-search:hover {
  background-color: rgb(65, 165, 131);
}

.search-bar {
  border-radius: 18px 0 0 18px;
}

.form-select {
  border-radius: 18px;
}
