.App {
  background-color: rgba(245, 245, 245, 0.3);
  margin-bottom: 200px;
}

.search-results-box {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

table {
  max-width: 70%;
}

tr {
  display: flex;
  align-items: center;
}

td {
  border-bottom-width: 0 !important;
}

td img {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  width: 100%;
  height: 120px;
  width: 120px;
  border-radius: 8px;
  cursor: pointer;
}

.reading-level-box {
  border-radius: 8px;
  border: 0.1px solid black;
  width: 110%;
  background-color: aquamarine !important;
  backdrop-filter: blur(2px) !important;
}

.extra-reading-level-info {
  position: absolute;
  right: 102%;
  background-color: aquamarine;
  width: 180px;
  height: fit-content;
  padding: 3%;
  border-radius: 8px;
}

.extra-reading-level-info-text {
  word-wrap: break-word;
}

.relatively-positioned-div {
  position: relative;
}

/* .box-bg-img{
background-image: url(https://www.shutterstock.com/image-vector/abstract-geometric-background-color-theme-600w-1913860915.jpg);
border-radius: 8px;
} */

.article-text-cell {
  width: 60% !important;
  margin-left: 20px;
}

td h3 {
  margin-bottom: -2px;
}

td h3:hover {
  cursor: pointer;
  color: rgb(34, 34, 255);
}

small {
  color: red;
}

.fa-star {
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.fa-star:hover {
  cursor: pointer;
}
.sidebar-left {
  display: flex;
  flex-direction: column;
  float: left;
  margin: 2%;
}

.highlight-button {
  margin-top: 15%;
}

.sidebar-intermediate-word-list {
  background-color: #31d2f2;
  border-radius: 8px;
  margin-top: 5%;
  font-weight: 500;
}

.sidebar-advanced-word-list {
  background-color: #fdca2d;
  border-radius: 8px;
  margin-top: 5%;
  font-weight: 500;
}

.save-button {
  float: right;
  margin: 2%;
  color: black;
  background-color: #fdca2d;
  border: none;
}
.save-button:hover {
  cursor: pointer;
}

.saved {
  color: #0a58ca;
}

.article-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
}

.article-word:hover {
  background-color: aquamarine;
}

.aquamarine-bg{
  background-color: aquamarine;
}

.dictionary-box {
  height: 265px;
  width: 240px;
  display: flex;
  flex-direction: column;
  opacity: 98%;
  padding: .8%;
  z-index: 2;
  /* box-shadow: inset 0px 0px 10px rgb(27, 32, 69); */
  background-color: #f5f5f5;
  border: 2px solid black;
  border-radius: 6px;
  z-index: 3;
}

.dictionary-box:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 20px solid black;
  border-bottom: 20px solid transparent;
  right: 50%;
  bottom: -40px;
  z-index: -3;
}

.dictionary-box:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 20px solid #f5f5f5;;
  border-bottom: 20px solid transparent;
  right: 50%;
  bottom: -34px;
  z-index: -3;
}

.sentence-box{
  flex-direction: column;
  justify-content: space-between; 
  display: flex;
  text-align: left !important;
}


.sentence{
  font-size: 14px;
}

.sentence-label {
  font-weight: bold;
  font-style: italic;
  font-size: 11px;
 
}

.carousel.carousel-slider {
  overflow: visible !important;
  height: 220px !important;
}

.carousel-status {
  top: auto !important;
  bottom: 0% !important;
  color: black !important;
  text-shadow: 0px 0px 0px !important;
  font-size: 13px !important;
}

.carousel .control-prev.control-arrow:before {
  border-right: 8px solid white)!important;
}

.carousel .control-next.control-arrow:before {
  border-left: 8px solid white !important;
}

.carousel .control-next.control-arrow
 {
  top: auto !important;
  bottom: 40% !important;
  right: -18% !important;
  border-radius: 0px 12px 12px 0px;
}

.control-prev.control-arrow {
  top: auto !important;
  bottom: 40% !important;
  left: -18% !important;
  border-radius: 12px 0px 0px 12px;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
  opacity: 1 !important;
  background-color: rgba(0, 0, 0, 0.85) !important;
  width: 25px !important;
  height: 80px !important;
}

.hide-source {
  font-size: 0;
}

.article-box img {
  max-width: 500px;
}

.adv-highlight-on {
  font-weight: 500;
  background-color: #fdca2d;
  border: 0.1px solid rgba(0, 0, 0, 0.067);
}

.inter-highlight-on {
  font-weight: 500;
  background-color: #31d2f2;
  border: 0.1px solid rgba(0, 0, 0, 0.067);
}

article img {
  max-width: 500px;
  max-height: 500px;
  object-fit: cover;
  width: 100%;
}

.title-and-author {
  display: flex;
  flex-direction: row;
  font-style: italic;
  margin-bottom: 1%;
  margin-top: 2%;
}

.back-button {
  margin: 1%;
  margin-bottom: 15%;
  background-color: aquamarine;
  color: black;
  border: 0px;
}

@media screen and (max-width: 480px) {
  td img {
    display: none;
  }
}

.color-nav {
  background-color: aquamarine;
  margin-bottom: 2%;
}

.btn-search {
  background-color: aquamarine;
  border-radius: 0 18px 18px 0;
}

.btn-search:hover {
  background-color: rgb(65, 165, 131);
}

.search-bar {
  border-radius: 18px 0 0 18px;
}

.form-select {
  border-radius: 18px;
}

.clear-history-button {
  margin-left: 15%;
}

.history-message {
  margin-left: 15%;
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid aquamarine; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.missing-article-message {
  text-align: center;
}
